* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  display: grid;
  height: 100%;
}

img {
  margin: auto;
}

.query-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 1em;
}

.query-container > input,
.query-container > button {
  background: black;
  border: 1px solid rgb(0, 0, 255);
  border-radius: 10px;
  padding: 1em 2em;
  color: white;
  font-size: 2rem;
  transition: background 100ms;
}

label {
  color: white;
  opacity: .8;
  font-size: 1.5rem;
  margin-bottom: .25em;
}

#input {
  padding: .5em;
  margin-bottom: 1em;
}


button {
  cursor: pointer;
}

span {
  font-size: 1.25rem;
  opacity: .75;
}

button:hover {
  background: rgba(0, 0, 255, 0.1);
}

button:active {
  background: rgba(0, 0, 255, 0.2);
}
